h3{
    font-family: 'Sansita', sans-serif;
}

h2,h6{
    font-family: 'Playfair Display', serif;
    font-weight: bolder !important;
}

#navigation-menu{
    padding: 2% 8%;
    background: linear-gradient(180deg, #5b86e5, #36d1dc);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15%/10%);
    z-index: 50;
}

h3{
    display: inline;
}

/* cart */

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    padding: 20px;
    background: linear-gradient(180deg, #5b86e5, #36d1dc);
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.3s;
    overflow: auto;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem ;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.card-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid  black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.cart-remove::before{
    position: relative;
    bottom: 80px;
    left: 150px;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black ;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 5px;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    position: relative;
    margin: 10px 70px 0px 100px;
    background-color: #f2f7f2 !important;
    border-radius: 8px;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: #5b86e5 !important;
    font-weight: bold;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8px;
    font-size: 2rem;
    color: black ;
    cursor: pointer;
}

h6{
    font-size: 1.1rem !important;
}

.add-to-cart{
    width: 30px;
    float: right;
}

#products{
    padding: 1% 5%;
    background-color: #36d1dc;
}

.row{
    margin: 0 !important;
    padding: 2rem 2rem 0;
}

.section_title{
    margin-bottom: 0 !important;
    padding: 2rem 1rem 0;
    text-align: center;
}

.container{
    margin-bottom: 20px;
}

.container:hover{
    transform: scale(1.1);
    z-index: 2;
}

.card{
    border-radius: 30px !important;
    border-color: black !important ;
}

.card-header{
    background-color: rgb(251 247 247 / 3%) !important;
    text-align: center;
    border-color: black !important ;
}

.card-body{
    background-color: #f2f7f2;
    border-radius: 0 0 30px 30px !important;
}

.product-img{
    height: 200px;
}

p,.btn-buy{
    display: inline-block;
    font-weight: bold;
    font-family: 'didone room';
    font-size: 1.3rem;
}

@media(min-width:320px){
    h2{
        margin: 8% !important;
    }
}

@media(min-width:430px) and (max-width: 768px){
    .media-h6{
        padding: 0 0 11% 0 !important;
    }
}

@media(min-width:320px) and (max-width: 1024px){
    .media-img{
        padding-left: 0px !important;
    }
}
